* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #005b96;
  border-radius: 4px;
}

input {
  height: 30px;
  border: none;
  border-radius: 4px;
  width: 340px;
  margin-right: 5px;
}

button {
  display: block;
  border: none;
  height: 30px;
  border-radius: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
.gallery__link {
  display: inline-block;
  text-decoration: none;
  color: #212121;
}

.img {
  display: block;
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  font-size: 14px;
}

.info-item__value {
  display: block;
}

.load-more[hidden] {
  display: none;
}

.load-more {
  border: 2px solid #005b96;
  background-color: #005b96;
  color: floralwhite;
  margin-left: auto;
  margin-right: auto;
}
